<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/javascripts/main.js"></script>
    <title>DutchBoy</title>
  
</head>

<body >
    

    <nav class="w-full flex justify-between mt-6 p-5 bg-gray-200" style="width : 100vw">
        <% if (user) { %>

        <a href="/customers/new">ADD A CUSTOMER  </a>
        &nbsp; &nbsp;
        <a href="/customers">ALL CUSTOMERS</a>
        &nbsp; &nbsp;
        <a href="/products/new">ADD PRODUCT</a>
        &nbsp; &nbsp;
        <a href="/maps">MAPS</a>
        <a href="/logout">LOG OUT</a>
       

        <% } else { %>

                
                <a  href="/">HOME</a>
                &nbsp; &nbsp;
        
                 <a href="/">ABOUT US</a>
                &nbsp; &nbsp;
        
                <a href="/">CLIENT STORIES</a>
               <a href="/auth/google" >LOG IN&nbsp;<img  src="https://i.imgur.com/FHjYyi0.png" height="20px" width="20px" class="inline"></a>
        


       
          <% } %>

    </nav>