<%- include('./partials/header') %>
<body>
    <h1 class="display-1">DutchBoy</h1>
    <h2 class="display-2">Know Your Customers</h2>
    
 
    <p class="text-success">Customer Insights at a Glance</p>
  

    
</body>




    
 <%- include('./partials/footer') %>